node_modules
dist
.next
.env
*.log
build
.DS_Store
npm-debug.log*
packages/database/schema2222.prisma
docs/
PROJECT_NOTES_FA.md
node_modules
dist
.next
.env
*.log
build
.DS_Store
npm-debug.log*
packages/database/schema2222.prisma
docs/
PROJECT_NOTES_FA.md
ai-roadmap
New Text Document.txt